.wrapper{
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgb(245, 245, 245);
}

@media (max-width: 428px){
  .wrapper{
      display:contents;
  }
}
